html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #141414;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
  color: #E50914;
  margin-bottom: 10px;
  margin-top: 0px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.netflix-content-container {
  width: 100%;
  max-width: 800px;
  background-color: #181818;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h5{
  font-size: 9px;
  align-self: flex-end;
  font-weight: normal;
}

.main-content {
  flex: 1;
  min-width: 0;
}

.desktop-ads {
  width: 15%;
  display: none;
}

.mobile-ads {
  display: none;
  margin: 20px 0;
  text-align: center;
}

.ad-unit {
  background: #f5f5f5;
  border: 1px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.empty {
  width: 15%;
}

@media (min-width: 768px) {
  .desktop-ads {
    display: block;
  }
}

.empty {
  width: 0%;
}

@media (max-width: 767px) {
  .content-wrapper {
    flex-direction: column;
  }
  
  .mobile-ads {
    display: block; 
    order: 2; 
  }
  
  .desktop-ads {
    display: none /* !important; Asegurar que no se muestre */
  }

  .empty {
    width: 0%;
  }
}